<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <form>
    <p>名前：<input type="text" name="user_name"></p>
    <p>本文：<input type="text" name="body"></p>
    <input type="submit" value="POST"></input>
  </form>
  <% @contents.each do |content| %>
    <div>
      <div>
        <p><%= content.name %></p>
        <p><%= content.body %></p>
        <p><%= content.good %></p>
        <form action="/good/<%= content.id %>" method="post">
          <input type="submit" value="LIKE">
        </form>
        <form action="/delete/<%= content.id %>" method="post">
          <input type="submit" value="DELETE">
        </form>
        <a href="/edit/<%= content.id %>">EDIT</a>
      </div>
    </div>
  <% end %>
</body>
</html>
